<body>
<%= render 'partials/navbar' %>
<h1>Chat Rooms</h1>

<div class="searchbar">
  <%= form_tag(chat_rooms_path, method: :get) do |form| %>
    <%= text_field_tag(:keyword, params[:keyword], placeholder: "Search for keyword") %>
    <%= submit_tag("Search") %>
  <% end %>
  <%= link_to "Clear search", chat_rooms_path %>
</div>
