<header>
<div style="background-color: #455d7a; color: white; text-align: center; padding: 10px;">
<h1 style ="color: #f95959;">Chat With Chums</h1>
<nav>
<ul style="list-style-type: none; padding: 0; display: flex; justify-content: center;">
<li style="margin: 0 10px;"><%= link_to 'About Us', about_us_path, style: 'color: #f95959; font-size: 20px; text-decoration: none;'%></li>
<li style="margin: 0 10px;"><%= link_to 'Take the Test', test_path, style: 'color: #f95959; font-size: 20px; text-decoration: none;' %></li>
<li style="margin: 0 10px;"><%= link_to 'Get Chatting', chat_rooms_path, style: 'color: #f95959; font-size: 20px; text-decoration: none;' %></li>
<% if user_signed_in? %>
    <li style="margin: 0 10px;"><%= link_to 'My Profile', user_path(current_user), style: 'color: #f95959; font-size: 20px; text-decoration: none;' %></li>
    <li style="margin: 0 10px;"><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }, style: 'color: #f95959; font-size: 20px; text-decoration: none;' %></li>
<% else %>
    <li style="margin: 0 10px;"><%= link_to 'Login', login_path, style: 'color: #f95959; font-size: 20px; text-decoration: none;' %></li>  
<% end %>
</ul>
</nav>
</header>