<body>
<%= render 'partials/navbar' %>
<h1>Sign Up form</h1>
<%= form_with model: @user, url: users_path, method: :post, local: true do |f| %>
  <div>
    <div>
      <%= f.text_field :name, label: 'Name', placeholder: 'Your name here' %>
    </div>
    <div>
      <%= f.text_field :username, label: 'Username', placeholder: 'Your username here' %>
    </div>
    <div>
      <%= f.password_field :password, label: 'Password'%>
    </div>
    <div>
      <%= f.select :personality_type, options_for_select([
          ["ISTJ - The Inspector", "ISTJ"],
          ["ISFJ - The Protector", "ISFJ"],
          ["INFJ - The Advocate", "INFJ"],
          ["INTJ - The Architect", "INTJ"],
          ["ISTP - The Craftsman", "ISTP"],
          ["ISFP - The Composer", "ISFP"],
          ["INFP - The Healer", "INFP"],
          ["INTP - The Thinker", "INTP"],
          ["ESTP - The Dynamo", "ESTP"],
          ["ESFP - The Performer", "ESFP"],
          ["ENFP - The Champion", "ENFP"],
          ["ENTP - The Visionary", "ENTP"],
          ["ESTJ - The Supervisor", "ESTJ"],
          ["ESFJ - The Provider", "ESFJ"],
          ["ENFJ - The Teacher", "ENFJ"],
          ["ENTJ - The Commander", "ENTJ"]
        ]), {}, label: 'Personality type', 'aria-label': 'Select Personality' %>
    </div>
    <%= f.submit "Create a user and login in" %>
  </div>
<% end %>
<%= render 'partials/footer' %>
</body>