<body>
  <%= render 'partials/navbar' %>
  <div>
    <div >
      <h1>My Profile</h1>
      <h3>Username: <%= @user.username %></h3>
      <h3>Name: <%= @user.name%></h3>
      <h3>Personality: <%= @user.personality_type %></h3>
      <h3>Interests: <%= @user.interests %></h3>
      <h3>My Chat Rooms:</h3>
      <% @user.chat_rooms.each do |chat_room| %>
        <li>
          <%= link_to chat_room.name, chat_room %>
        </li>
      <% end %>
      <h3>My Friends:</h3>
      <% @user.friends.each do |friend| %>
        <li>
          <%= link_to friend.username, user_path(friend) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <button><%= link_to 'Edit', edit_user_path(@user) %></button>
        <button><%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %></button>
      <% end %>
    </div>
  </div>
<%= render 'partials/footer' %>
</body>